/******************************************************************************************************
 * This file represents the common styles used throughout all the pages on the site. It defines all
 * layout rules, base font styles, and common content elements.
 ******************************************************************************************************/

/** Global Zero Out ***********************************************************************************/
.PowerSearchPage html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
}

 
.PowerSearchPage html, body {
    margin: 0;
    padding: 0;
}

.PowerSearchPage body {
    font: 62.5%/1.5 Verdana, sans-serif;
    background-color: #ffffff;
    color: #888888;
}

#Debug {
    font: 62.5%/1.5 Verdana, sans-serif;
    background-color: #ffffff;
    color: #888888;
}

.GreyFont {
	font: 90.0%/1.3 Verdana, sans-serif;
	background-color: #ffffff;
    color: #888888;
}

.PowerSearchPage input {
    outline: none;
}

.PowerSearchPage p, td, li {
    font-size: 1.0em;
    line-height:1.0em;
}

.PowerSearchPage p, td, li, h1, h2, h3, h4, h5, h6, td, span{
    text-align:left;
}

.PowerSearchPage img {
	border: 0;
}


.PowerSearchPage object, embed {
    outline: none;
    border: 0;
}



/** Layout **********************************************************************************************/

.PowerSearchPage body {
    text-align: left;
    padding-bottom: 3em;
}

#Page {
    width: 970px;
    margin: 0 auto;
    position: relative;
}

#Header {
}

#Presentation {
	width:930px;
	background:#ffffff;
}

#Content {
	position: relative;
}

#LeftZone,
#RightZone,
#TopZone,
#UpperZone {
	float:left;
}

#BottomZone {
	clear: both;
}

#BottomZoneResults{
	clear: both;
}
 
#LeftZone {
	width:570px;
	padding-right:32px;
	padding-bottom:7px;
	
}
#RightZone {
	width:300px;
	padding-left:22px;
	margin-top:6px;	
}

#TopZone{
	border-bottom:8px solid #ccc;
}


#TopZone {
	width:936px;
	margin:27px 0px 0 16px;
}

/** Header **********************************************************************************************/

#Header {
}

/** Footer **********************************************************************************************/

#Footer {
}


#Breadcrumbs {
}




/** Basic Text Styles  ************************************************************************************/
h1{

}

.PowerSearchPage h2{
	font-size:1.8em;
	color:#d37b17;
	font-weight:normal;
	padding-bottom:15px;

}

.PowerSearchPage h3{


}

h4{
	
}

h5{

}
h6{

}

.PowerSearchPage p { 
	font-size:1.1em;
	line-height:1.7em;

}

#Intro p{	
	font-size:1.2em;
	line-height:1.2em;
}

.Landing p {
	font-size:1.2em;
	line-height:1.9em;	
}

#LeftZone p {
	margin-bottom: 8px;
}

#UpperZone p {
	margin-bottom: 8px;
}

a, a:visited{
	font-size:1.0em;
	color:#5f81aa;
	text-decoration:none;

}
a:hover, a:active{
	font-size:1.0em;
	color:#0e3a6e;
	text-decoration:none;

}
a.Manage,
a.AdvancedSearch {
	float:right;
}

a.AdvancedSearch {
	line-height: 1.2;
	margin-left: 8px;
}

a.Title {
	float: left;
	font-weight:bold;
	font-size: 1.1em;
	padding-top: 5px;
	padding-bottom: 5px; 
}

.ErrorTxt{
	color:Red;
}

.clearDiv{ /* add this after a floated element to clear when there's nothing below it but you need to force a box-height */
	clear:both;
	overflow:hidden;
	height:1px;
	padding:0;
	margin:0;
	line-height:0.1em;
	font-size:0.1em;
}



/** BEGIN LEFT ZONE **/
.PowerSearch form{
	float:left;
	width:580px;
}

.PowerSearch label {
	font-size:1.2em;
	color:#7da090;
	font-weight:bold;
	line-height:1.9em;
}

.PowerSearch input {
	width:245px;
	padding:3px;
	font-size:1.0em;
	color:#888;
	border:1px solid #888;
}

.PowerSearch .FormField {
	margin-bottom: 10px;
	text-align: left;
}


.PowerSearch .FormField label {
	display: block;
}

.PowerSearch .FormField input,
.PowerSearch .FormField select {
	display: inline;
}

.PowerSearch .FormField select {
	height:21px;
	font-size:1.0em;
	text-align:left;
	color:#888;
	border:1px solid #888;
}
	
	
.PowerSearch .FormFieldRow {
	position: relative;
}

.PowerSearch .FormFieldRow .FormField,
.PowerSearch .FormFieldRow .FormControls {
	float: left;
	margin-right: 16px;
}

.PowerSearch .FormFieldRow .FormControls {
	margin-right: 0;
	padding-top: 1.9em;
}

.FormButton {
	width: 84px;
	float: left;
	bottom: 0;
	border: 1px solid #888;
	position: relative;
}

.FormButton span {
	cursor: pointer;
	display: block;
	height: 19px;
	border: 1px solid #fff;
	background: url(img/ButtonBG.gif) repeat-x 0 0;
	font-size:1.0em;
	text-align: center;
	color:#fff;
	vertical-align: middle;
	line-height: 178%
}
.FormButton:hover span, 
.FormButton:active span{
	background-position: 0 -19px;
}

.PowerSearch .DistanceMeasurement {
	width: 64px;
}
/** END LEFT ZONE **/




/** BEGIN RIGHT ZONE **/

.Box {
	border-top:1px solid #888;
	border-right:1px solid #888;
	border-bottom:3px solid #888;
	border-left:1px solid #888;
	width:295px;
	padding:3px 7px;
	margin-bottom:13px;
}

.BoxDetails {
	border-top:1px solid #888;
	border-right:1px solid #888;
	border-bottom:3px solid #888;
	border-left:1px solid #888;
	width: 600px;
	height: 130px;
	padding: 20px 5px;
	margin-bottom: 3px;
	margin-top: 10px;
}

.SearchAgents form{
	float:left;
}

.SearchAgents label {
	display:block;
	clear: left;
	font-size:1.0em;
	color:#888;
	line-height:1.5em;
	padding-bottom: 0.3em;
}

.SearchAgents select {
	display:block;
	width:212px;
	margin-top:3px;
	margin-bottom:6px;
	color:#888;
	border:1px solid #888;
	float: left;
	font-size: 1.0em;
	padding: 1px;
}

.SearchAgents .FormButton {
	width: 74px;
	float: right;
}






/** END RIGHT ZONE **/

/** BEGIN BOTTOM ZONE **/
#BottomZone {
	padding-top: 16px;
}

#BottomZoneResults {
	padding-top: 16px;
}

#BottomZoneContentHeader {
	width: 936px;
}

#BottomZoneContent .BottomHeader {
	height:50px;
	padding-bottom:4px;
}

#BottomZoneContentResults .BottomHeader {
	height:50px;
	padding-bottom:4px;
}

#BottomZoneContent h2,
#BottomZoneContent p{
	float:left;
	padding-right:570px;
	font-weight:normal;
}

#BottomZoneContentResults h2,
#BottomZoneContentResults p{
	float:left;
	padding-right:570px;
	font-weight:normal;
}

.BottomHeader {
	height:50px;
	padding-bottom:4px;
}

#BottomZoneContent .FormButton{
	width:135px;
	float:right;
	cursor: pointer;
}

#BottomZoneContentResults .FormButton{
	width:135px;
	float:right;
	cursor: pointer;
}


#BottomZoneContent .NextPage{
	float:right;
	cursor: pointer;
}

#BottomZoneContentResults .NextPage{
	float:right;
	cursor: pointer;
}

.Landing #BottomZoneMessage {
	height:291px;
	background: 554px 0;
	padding-top: 50px;
	padding-right:32px;
	margin-top: 34px;
}

#BottomZoneMessageContent p{
	float:left;
	padding-right:500px;
	font-weight:normal;
}

.Landing #BottomZoneContent {	
	height:291px;
	background: url(img/LandingBG.jpg) no-repeat 554px 0;
	padding-top: 50px;
	margin-top: 34px;
}

.Landing #BottomZoneContentResults {	
	height:291px;
	background: url(img/LandingBG.jpg) no-repeat 554px 0;
	padding-top: 50px;
	margin-top: 34px;
}

.Landing #BottomZoneContent h2,
.Landing #BottomZoneContent p {
	width:412px;
	margin-left: 120px;
}

.Landing #BottomZoneContentResults h2,
.Landing #BottomZoneContentResults p {
	width:412px;
	margin-left: 120px;
}

.PowerSearchResults #BottomZoneContent  {
	margin:0 16px;
}

.PowerSearchResults #BottomZoneContentResults  {
	margin:0 16px;
}

#PowerSearchResults table {
	
}

#BottomZoneResults table {
	width:100%;
	clear:both;
}
	
	
#BottomZoneResults th {
	background: url(img/thBG.gif) repeat-x 0 0;
	height:19px;
	text-align:center;
}

#BottomZoneResults td {
	text-align:center;
}

#BottomZoneResults td.First,
#BottomZoneResults th.First {
	text-align: left;
}

#BottomZoneResults td.First {
	padding-left: 6px;
}

#BottomZoneResults tr a,
#BottomZoneResults tr a:visited {
	}
	
#BottomZoneResults th a, 
#BottomZoneResults th a:visited {
	color: #fff;
	text-decoration: underline;
	padding:0 6px;
	cursor: pointer;
	font-weight:bold;
	
	
}

#BottomZoneResults th span {
	color: #fff;
	text-decoration: underline;
	padding:0 6px;
	font-weight:bold;
}

#BottomZoneResults th a.SortColumn-Ascending,
#BottomZoneResults th a.SortColumn-Descending {
	background-repeat: no-repeat;
	background-position: right 60%;
	text-decoration: none;
	padding-right: 16px;
	cursor: pointer;	
}


	


#BottomZoneResults th a.SortColumn-Ascending {
	background-image: url(img/SortIndicator-Ascending.png);
}

#BottomZoneResults th a.SortColumn-Descending {
	background-image: url(img/SortIndicator-Descending.png);
}

#BottomZoneResults td img {
	width:14px;
	height:14px;
	padding-right:2px;
	
}

#BottomZoneResults td.CV {
	text-align:center;
}

#BottomZoneResults td.Attachment a {
	margin-left: -16px;
}

#BottomZoneResults tr.RowOdd td {
	background:#fff;
	height:24px;
	border-bottom:1px solid #ccc;
	
	
}

#BottomZoneResults tr.RowEven td {
	background:#e7e8e9;
	height:24px;
	border-bottom:1px solid #ccc;
}



	
/** END BOTTOM ZONE **/

/** BEGIN CONFIRMATION MODAL **/

#ConfirmAgentModal {
	background-color: #fff;
	position: absolute;
	border: 1px solid #888;
	margin-left: -150px;
	left: 40%;
	top: 120px;	
	width: 550px;
	height: 120px;
	padding: 10px;
	display: none;
}

#ConfirmAgentModal #ModalContent {
	margin:12px 23px;
}

#ConfirmAgentModal h2{
	padding-top:0.5em;
	padding-bottom:0.9em;
	font-weight:normal;
}

/** END CONFIRMATION MODAL **/

/** BEGIN EMAIL MODAL **/

#SaveSearchAgentModal {
	background-color: #fff;
	position: absolute;
	border: 1px solid #888;
	margin-left: -150px;
	left: 50%;
	top: 120px;	
	width:300px;
	height:270px;
	padding:10px;
	display:none;
}
#SaveSearchAgentModal #ModalContent {
	margin:12px 23px;
}

#SaveSearchAgentModal h2{
	padding-top:0.5em;
	padding-bottom:0.9em;
	font-weight:normal;
}


.PowerSearch .ModalFormField{
	margin-bottom:12px;
}

#SaveSearchAgentModal input[type=checkbox] {
	width: auto;
	border: none;
	margin: 0;
}

#SaveSearchAgentModal input[type=checkbox] + label {
	display: inline;
}

.Top,
.Bottom {
	float:right;
	cursor:pointer;
}

.ModalMidLine {
	height:12px;
	border-bottom:1px solid #ccc;
	margin-bottom:14px;
}
.Modal {
	width: 84px;
	float: left;
	bottom: 0;
	border: 1px solid #888;
	margin-top:0.9em;
}

.ModalBottomDiv img{
	float: left;
	margin-top: 10px;
	margin-left: 10px;
	display: none;
}

/** END EMAIL MODAL **/


/** Debug (DO NOT INCLUDE IN FINAL INTEGRATION) *********************************************************/

body.Debug {
 	background: url(img/background-gradient.gif) repeat-x 0 0;
 	text-align: center;
}

.Debug #Page {
	background: url(img/background.jpg) no-repeat 0 0;
	margin: 0 auto;
	text-align: left;
	height: 768px;
	width: 1024px;
	padding: 148px 30px 0 30px;
}

.Debug #Content {
	width: 960px;
}

.SimpleSearchForm {
	text-align: left;
}

.MiddleAlign{
	vertical-align: middle;
}

.HeadingPowerSearch {
	padding-bottom: 15px;
	padding-top: 10px;
}

.DivBox {
	border: 2px;
}

.ApplicantName {
	margin-top: 30px;
	margin-left: 10px;
	padding-top: 15px;
	font-size: 1.7em;
	color: #888;
	font-family: Verdana;
}

.ButtonLink {
	padding-left: 90px;
	padding-bottom: 5px;
	padding-top: 5px;
	padding-right: 10px;
}

.LeftBox {
	float: left;
	width: 400px;
}

.RightBox {
	float: left;
	width: 200px;
	height: 140px;
}

.LeftBox td {
	height: 20px;
}

.LinkSearchDetails {
	font-weight: bold;
	font-size: 1.1em;
}

.DisclosureTable {
	width: 300px;
	display: none;
}

.DisclosureTable td {
	text-align: left; 
	font-size: 0.9em;
}

.ManageSearchAgentsTable th{
	font-size: 1.2em;
	font-style: Verdana;
}

.ManageSearchAgentsTable td{
	font-size: 1.1em;
	font-family: Verdana;
	color: #888888;
}

.HeighRow{
	height: 35px;
}

.BackGroundEven{
	background:#e7e8e9;
	background-color: #e7e8e9;
}

.BackGroundOdd{
	background:#fff;
	background-color: #fff;
}

.WarningImg{
	background: url(img/warning.gif) no-repeat;
	padding-left: 65px;
	padding-top: 12px;
	margin-left: 25px;
	margin-top: 25px;
	height: 80px;
}

#UpperZone {
	width:670px;
	padding-right:32px;
	padding-bottom:7px;
}

/** BEGIN EMAIL MODAL **/

#SaveSearchAgentModal1 {
	background-color: #fff;
	position: absolute;
	border: 1px solid #888;
	margin-left: -150px;
	left: 50%;
	top: 120px;	
	width:300px;
	height:350px;
	padding:10px;
	display:none;
}
#SaveSearchAgentModal1 #ModalContent {
	margin:12px 23px;
}

#SaveSearchAgentModal1 h2{
	padding-top:0.5em;
	padding-bottom:0.9em;
	font-weight:normal;
}


.PowerSearch .ModalFormField{
	margin-bottom:12px;
}

#SaveSearchAgentModal1 input[type=checkbox] {
	width: auto;
	border: none;
	margin: 0;
}

#SaveSearchAgentModal1 input[type=checkbox] + label {
	display: inline;
}

.Top,
.Bottom {
	float:right;
	cursor:pointer;
}

.ModalMidLine {
	height:12px;
	border-bottom:1px solid #ccc;
	margin-bottom:14px;
}
.Modal {
	width: 84px;
	float: left;
	bottom: 0;
	border: 1px solid #888;
	margin-top:0.9em;
}

.ModalBottomDiv img{
	float: left;
	margin-top: 10px;
	margin-left: 10px;
	display: none;
}

/** END EMAIL MODAL **/