body {
	margin: 20px;
	padding: 0;
	font-family: arial, helvetica, serif;
	background: #4e8abe;
}

#nav, #nav ul { /* all lists */
	padding: 0;
	margin: 0;
	list-style: none;
	line-height: 1;
}

#nav li ul { /* second-level lists */
	position: absolute;
	background: url(white80notile.gif) no-repeat left bottom;
	padding-bottom: 20px;
	width: 10em;
	left: -999em; /* using left instead of display to hide menus because display: none isn't read by screen readers */
}

#nav li:hover ul, #nav li.sfhover ul { /* lists nested under hovered list items */
	left: auto;
}


#nav li {
	float: left;
	background: url(left_off.gif) no-repeat left top;
	margin: 0;
	padding: 0 0 0 6px;
	font: 14px/14px helvetica,"Trebuchet MS",arial;
	font-weight: normal;
	}
#nav a {
	float: left;
	display: block;
	background: url(right_off.gif) no-repeat right top;
	padding: 10px 11px 24px 6px;
	text-decoration: none;
	color: #fff;
}
/* Commented Backslash Hack
	 hides rule from IE5-Mac \*/
#nav a {float:none;}
/* End IE5-Mac hack */
#nav a:hover {
	color: #525252;
	}
#nav #current {
	background-image: url(left_on.gif);
	}
#nav #current a {
	background-image: url(right_on2.gif);
	padding-left: 5px;
	color: #525252;
	}
#nav #current a:hover {
	color: #333;
	}

#nav #current li {
	background-image: none;
	}
#nav #current li a {
	background-image: none;
	padding-left: 0px;
	}



/*Non-IE6*/
#nav li ul li a, #nav li ul li {
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	background-image: none;
	text-align: left;
}
#nav li ul li {
	padding: 0 12px 0 13px;
	width: 111px;
}
#nav li:hover ul {
	display: block; 
	position: absolute; 
	z-index: 398;
	padding: 14px 7px 13px 0;
	margin: -19px 0 0 -7px;
}
#nav li:hover ul li a { 
	display:block; 
	height:auto; 
	line-height: 16px; 
	margin-left: 0px; 
	padding: 4px 16px 4px 0; 
	border-bottom: dotted 1px #8e9295; 
	color: #000;
} /*Color subcells normal mode*/

#nav li:hover ul li a:hover {
	text-decoration:none; 
	color: #525252; 
	cursor: hand; 
	background: #e4e4e4;
} /*Color subcells hovering mode*/


















#nav li ul li a { 
	display:block; 
	height:auto; 
	line-height: 16px; 
	margin-left: 0px; 
	padding: 4px 16px 4px 0; 
	border-bottom: dotted 1px #8e9295; 
	color: #000;
} 
#nav li ul {
	display: block; 
	position: absolute; 
	z-index: 398; 
	/*top: 49px; */
	/*margin-top:0.1em; */
	padding: 14px 7px 13px 0;
	margin: 0;
}
#nav li ul li {
	padding-left: -6px;
}




#nav li ul ul { /* third-and-above-level lists */
	margin: 0em;
	/*border: 3px solid blue;*/
	background: #e7e4e4;
}
#nav li ul li ul li a { 
	line-height: 16px; 
	padding: 4px 16px 4px 0; 
	border-bottom: 0px; 
	color: #000;
}

#nav li:hover ul ul, 
#nav li.sfhover ul ul {
	left: -999em;
}

/*
#nav li li:hover ul, 
#nav li li.sfhover ul { 
	left: 140px;
}
*/
#nav li:hover ul ul, 
#nav li li:hover ul ul, 
#nav li.sfhover ul ul, 
#nav li li.sfhover ul ul {
	left: 140px;
}

  
  
  




#nav li:hover ul ul {
	display: block; 
	position: absolute; 
	z-index: 398;
	padding: 6px 2px 6px 2px;
	margin: -25px 0 0 -4px;
	
}
#nav li:hover ul li ul li a { 
	display:block; 
	height:auto; 
	line-height: 13px; 
	margin-left: 0px; 
	padding: 4px 16px 4px 0; 
	border-bottom: none; 
	color: #000;
	font-size: 11px;
	font-weight: normal;
} /*Color subcells normal mode*/

#nav li:hover ul li a:hover {
	text-decoration:none; 
	color: #525252; 
	cursor: hand; 
	background: #e4e4e4;
	font-weight: bold;
} /*Color subcells hovering mode*/



#nav li ul li a { 
	display:block; 
	height:auto; 
	line-height: 16px; 
	margin-left: 0px; 
	padding: 4px 16px 4px 0; 
	border-bottom: dotted 1px #8e9295; 
	color: #000;
} 
#nav li ul {
	display: block; 
	position: absolute; 
	z-index: 398; 
	/*top: 49px; */
	/*margin-top:0.1em; */
	padding: 14px 7px 13px 0;
	margin: 0;
}
#nav li ul li {
	padding-left: -6px;
}











  