<div class="EditorToolbarDomNode EditorToolbarSmallBg" 
	unselectable="on" dojoOnMouseDown="preventSelect">
	<table cellpadding="1" cellspacing="0" border="0">
		<tbody>
			<tr valign="top" align="left" dojoAttachPoint="oneLineTr">
				<td>
					<!-- bold -->
					<span class="iconContainer dojoEditorToolbarItem" dojoETItemName="bold">
						<span title="Toggle Bold (Ctrl-B)" class="dojoE2TBIcon dojoE2TBIcon_Bold">&nbsp;</span>
					</span>
				</td>
				<td>
					<!-- italic -->
					<span class="iconContainer dojoEditorToolbarItem" dojoETItemName="italic">
						<span title="Toggle Italic (Ctrl-I)" class="dojoE2TBIcon dojoE2TBIcon_Italic">&nbsp;</span>
					</span>
				</td>
				<td>
					<!-- underline -->
					<span class="iconContainer dojoEditorToolbarItem" dojoETItemName="underline">
						<span title="Toggle Underline (Ctrl-U)" class="dojoE2TBIcon dojoE2TBIcon_Underline">&nbsp;</span>
					</span>
				</td>
				<td>
					<!-- Forecolor Text -->
					<span class="iconContainer dojoEditorToolbarItem" dojoETItemName="forecolor">
						<span title="Text Color" class="dojoE2TBIcon dojoE2TBIcon_TextColor">&nbsp;</span>
					</span>
					
				</td>
				<td>
					<!-- Highlight Color -->
					<span class="iconContainer dojoEditorToolbarItem" dojoETItemName="hilitecolor">
						<span title="Highlight Color" class="dojoE2TBIcon dojoE2TBIcon_BackgroundColor">&nbsp;</span>
					</span>
				</td>
				
				<td width="*">&nbsp;</td>
			</tr>
		</tbody>
	</table>
</div>
